*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #7945ff;
}
.userinterface{
    width: 60%;
    padding: 1% 0%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 70px;
    height: 70px; 
}
.userinterface button{
    background-color: #5c2dd5;
    border-radius: 10px;
    height: 25px;
    width: 60px;
    color: whitesmoke;
    border: none;
    
}
.board{
    width: 60%;
    margin: auto;
    background-color: #bdbdb9;
    padding-top: 2%;
    padding-bottom: 5%;
    border-radius: 50px;
    border: 2px solid black;
    border-bottom: 15px solid #030300;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5.5%;
}
.board .container div{
    background-color: #5c2dd5;
    border: 2px solid #030300;
    border-top: 15px solid #030300;
    width: 140px;
    height: 110px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}
.popUp{
    display: none;
    padding: 100px 200px;
    margin: auto;
    border: 2px solid #030300;
    text-align: center;
    background-color: darksalmon;
    border-radius: 15px;
    position: absolute; 
    top: 30%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40%;
    font-family: sans-serif;
}
